body{
    background-color: #181818;
    color: lightgrey;
}

.opening{
    margin: auto;
    width: 50%;
    font-size: 125%;
    text-align: center;
    padding: 10px;
}

button{
    color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    font-size:larger;
    border-color: lightgrey;
    margin: 10px;
    width: 150px;
    height: 100px;
}

button:hover{
    color:#181818;
    background-color: lightgrey;
}


.ds,.algo{
    display: flex;
    justify-content: center;
}